<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>[$title] - [slogan]</title>
<meta name="description" content="[$title]">
<meta name="author" content="FastPlaz">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<link rel='stylesheet' id='fastplaz-style-css'  href='[$themefullpath]/assets/bootstrap/css/bootstrap.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='fastplaz-style-css'  href='[$themefullpath]/assets/bootstrap/css/docs.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='fastplaz-style-css'  href='[$themefullpath]/assets/style/style.css' type='text/css' media='all' />

<!--[if lt IE 9]>
    <script src="[$themefullpath]/js/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" href="[$baseurl]/id/" hreflang="id" />
<link rel="alternate" href="[$baseurl]/us/" hreflang="en" />



