<div id="secondary">
		<h2 class="site-description">[text mod=wpnews func=getoption name=blogdescription]</h2>


		<div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">
		<aside id="search-2" class="widget widget_search"><form role="search" method="get" class="search-form" action="[$baseurl]/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form></aside><aside id="polylang-2" class="widget widget_polylang">
</aside>

<aside id="recent-posts-2" class="widget widget_recent_entries">
    <h1 class="widget-title">[gt text=Last News]</h1>
    [text mod=wpnews func=lastnews number=7]
</aside>


<aside id="categories-2" class="widget widget_categories">
	<h1 class="widget-title">[gt text=Category]</h1>
	<ul>
	<li class="cat-item cat-item-2"><a href="[$baseurl]/category/general/" title="Lihat seluruh tulisan dalam General">General</a>
	</li>
	</ul>
</aside>

<aside id="tag_cloud-2" class="widget widget_tag_cloud">
	<h1 class="widget-title">Tag Cloud</h1>
    <div class="tagcloud">
    [block mod=tag func=tagcloud number=50 type=cloud]
    </div>
</aside>

</div><!-- #primary-sidebar -->
</div><!-- #secondary -->

