
RewriteEngine On
AddHandler cgi-script .cgi
AddHandler cgi-script .bin
AddHandler cgi-script .pas
AddHandler cgi-script .exe
Options +ExecCGI

DirectoryIndex fastplaz.bin
ErrorDocument 404 404.html
ErrorDocument 500 500.html

<FilesMatch ".*\.(cfg|ini)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# add trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)([^/])$ /$1$2/ [L,R=301]

# language
RewriteRule ^(id|en|us)/$ ?lang=$1 [QSA,L]


RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^(.*)$ - [NC,L]
#RewriteRule ^(.*)$ 404.php [QSA,L]
RewriteRule ^(.*)$ fastplaz.bin/$1 [QSA,L]
