#database table thead {
	background: silver;
}

#database p {
	font-weight: 300;
}
.container code, code {
	display: block;
	width: 100%;
	margin: 10px 0 0 10px;
	background:#eceaea;
	white-space: pre !important;
}

.info p {
	margin-top: 10px !important;
}

.separator {
	border-bottom: 1px solid gray;
}

li {
	font-weight: 300;
	color: #7f8082;
}

.padding-5 {
	padding: 15px !important;
}
