

body > footer {
    padding: 0px 10px;
    font-size:11px;
}

.top-spacer {
    padding-top:60px;
}
.l {
    float:left;
}

.r {
    float:right;
}

.note-x {
    margin:50px 0 0 50px;
    padding:2px 0px 0.07em 2px;
    border-radius:5px;
    background:#aaa;
}
