<H1>Basic Example with fcl-web</H1>
<blockquote>
    <p>* fcl-web compatible
  <p>This is content from module 'example'.
<br />using direct call from "procedure TagController"</p>
  <footer>this module is created with basic <a href="http://wiki.lazarus.freepascal.org/fcl-web" target=_blank>fcl-web</a></footer>
</blockquote>

<div class="bs-callout bs-callout-info">
{content}
</div>

<div class="highlight pull-right"><pre>
<code class="bash">controller file: src/app/example/example_controller.pas
html template  : modules/example/main.html
layout theme   : themes/{$theme}/templates/master.html
</code></pre></div>


