<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="id-ID">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="id-ID">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="id-ID">
<!--<![endif]-->
<head>
{include file="includes/head.html"}
</head>

<body class="home blog masthead-fixed list-view full-width grid">
<div id="page" class="hfeed site">

{*include file="includes/header.html"}

<div id="main">
<div id="main-content">
	<div id="primary">
		<div id="content" >

        <div class="entry-content">
            <div id="welcome-home">
            Welcome To FastPlaz
            </div>
        </div>

		</div><!-- #content -->
	</div><!-- #primary -->
</div><!-- #main-content -->

{*include file="includes/sidebar-left.html"}
</div><!-- #main -->

{include file="includes/footer.html"}
</div><!-- #page -->

</body>
</html>
