<!DOCTYPE html>
<html lang="en">
<head>
[include file="includes/head.html"]
</head>

<body>
[include file="includes/header.html"]


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, FastPlaz !</h1>
        <p>This is a default example app with FastPlaz.
        <br />Fastplaz adalah satu satu web framework dengan menggunakan bahasa <a href="http://www.freepascal.org/">free pascal</a>.
Dibuat sedemikian rupa sehingga requirement server yang diperlukan pun sederhana dan minimal,
dan bahkan bisa di<em>compile</em> langsung dari console/terminal tanpa memerlukan ide/editor <a href="http://www.lazarus.freepascal.org/">Lazarus</a>.
Cukup dengan menggunakan <a href="http://httpd.apache.org/">apache</a> biasa seperti di shared hosting, fastplaz sudah bisa langsung digunakan.
        <br />Use it as a starting point to create your project.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Developer</h2>
          <p>developer bisa langung melakukan kompilasi melalui console/terminal, tanpa perlu melakukan instalasi x/gui maupun lazarus sebagai editornya.
<br>Cukup install <a href="http://www.freepascal.org/" target=_blank>fpc/freepascal</a>, kompilasi sudah bisa dilakukan.
<br>Desain struktur direktori dan theme/template dibuat sedemikian rupa agar memudahkan dalam melakukan pengembangan aplikasi.
<br>Untuk kebutuhan dan penggunaan khusus, memang Lazarus diperlukan, tetapi cukup dipasang di pc/desktop/laptop saja.
            </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>End User</h2>
          <p>End-user yang menggunakan <em>binary</em> <em>excutable</em> aplikasi/sytem/cms yang berbasis <a href="http://www.fastplaz.com">fastplaz</a>,
<br />diharapkan akan mudah melakukan instalasi tanpa perlu konfigurasi yang menyulitkan.
<br />Cukup menggunakan <em>shared hosting</em> biasa, aplikasi sudah bisa dipasang.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Consumer</h2>
          <p>penikmat web/app berbasis fastplaz,
<br />diharapkan bisa mendapatkan pengalaman menggunakan web-app yang lebih cepat dan ringan</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

<div class="highlight"><pre>
<code class="bash">controller file: main.pas
html template  : *inline
layout theme   : themes/[$theme]/templates/home.html
</code>
</pre></div>

    </div> <!-- /container -->



[include file="includes/footer.html"]
  </body>
</html>

